body{
    background-image: url(https://assets.website-files.com/5d42433702c7536df3627046/5d4cb6a7313d9a24ad608b0e_Drako_rear-p-1080.jpeg);
    background-size: 100% 100%;
    background-attachment: fixed;
}