body{
    text-align: center;
}
a{
    font-family: 'Bree Serif', serif;
    text-decoration: none;

}
h1{
    font-family: 'Mouse Memoirs', sans-serif; 
}
h3{
    font-family: monospace;
}
p{
    font-family: 'Sansita', sans-serif;
}
ul{
    list-style: none;
}

@media screen and (min-width:768px) {
.navbar{
    height: 10vh;
    }   
}
.logo_img{
    width: 18vw;

}


.spans{
    border-right: 10 px solid  rgb(253, 11, 11);
}
#top_text{
    
}

footer{
    background-color:#0b1b30;
    color: #fff;
}
/* #top_img{
    overflow: visible;
    width: 100vw;
    height: 100vh;
    background-image: url(https://assets.website-files.com/5d42433702c7536df3627046/5ecedbdb7577174bce3f1f19_190821AM02_1446--3840x2160-o.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
} */

.w-background-video>video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100;
}
video {
    display: inline-block;
    vertical-align: baseline;
    width: 100vw;
}

#main_con{
    background-image: url(https://assets.website-files.com/5d42433702c7536df3627046/5d50ace98e83098d23767ba3_Drako_speed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Ubuntu', sans-serif;
    
   

}

#about_main{
    background-image: url(https://assets.website-files.com/5d42433702c7536df3627046/5d50a5793691c921dae414dc_4PassengerLuxury2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color:#0b1b30;
}